.header {
  color: black;
}

svg {
  border-radius: .5rem;
  border: 1px solid #282c34;
  width: 100%;
}

.legend {
  padding-top: 20px;
}

.card {
  margin-top: 40px;
  margin-bottom: 20px;
}

.shift {
  margin-left: 20px;
}

.link {
  color: black;
  padding-left: 20px;
}

.videoPlayer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#tooltip {
  position: absolute;
  visibility: hidden;
  background-color: white;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  pointer-events: none;
  width: 300px;
}